.Priorityproject{
   display: grid;
   grid-template-rows: 15%  70% 15%;
   text-align: center;
}
.Priorityproject:hover{
   cursor: pointer;
}
.projectdesc{
    font-weight: 500;
    margin-bottom: 5em;
    color: var(--main-color);
    text-transform: capitalize;
}
.projectdate{
    width: 100%;
    color: #b4b4b4;
}
.Priorityproject svg{
    width: 80%;
    height: 100%;
}
.indicator {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #555;
    user-select: none;
}


/*SKELETON*/
.circle{
    margin: 50px auto;
    width: fit-content;
}
.Skeleton{
    width: 80%;
    margin: 0 auto;
}


