.NewtaskContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90%;
    width: 90%;
    border-radius: 20px;
    text-align: center;
    z-index: 200;
    align-items: center;
    align-items: center;
    background-color: var(--main-background);
    display: grid;
    grid-template-rows: 5%95%;
}

.opened {
    animation: openModal 0.5s ease-in forwards;
}

.NewtaskContainer label {
    color: var(--main-color);
    text-align: left;
}

.closed {
    animation: closeModal 0.5s ease-out forwards;
}

.Newtask h2 {
    text-align: center;
}

.NewtaskContainer form {
    display: grid;
    grid-template-rows: repeat(7,min-content);
    width: 90%;
    height: 95%;
    margin: 0 auto;
    background-color: var(--main-background);
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto !important;
    color: var(--main-color);
    row-gap: 2.5vh;
    align-items: center;
}
.DateContainer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.logo {
    height: 100%;
    max-height: 200px;
    margin: 0 auto;
}

.closeButtonContainer {
    display: flex;
    text-align: left;
    height: 100%;
    align-items: center;
    color: rgba(221, 17, 17, 1);
    border-radius: 10px 10px 0 0;
}

.closeButton {
    display: none !important;
    z-index: 201;
    margin-left: 10px;
}

.closeButton:hover {
    cursor: pointer;
    opacity: 0.7;
}

.closeButton:active {
    color: #333333;
}

.errorMessage {
    justify-self: center;
    color: var(--error-color) !important;
    font-size: larger;
    height: 20px;
}

@keyframes openModal {
    0% {
        transform: translate(-50%, -200%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@keyframes closeModal {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -200%);
    }
}

@keyframes open {
    0% {
        transform: translateY(300%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes close {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(300%);
    }
}

@media screen and (max-height: 700px) and (min-width:800px) {
    .NewtaskContainer {
        height: 100%;
    }
    .NewtaskContainer form {
        grid-template-rows: auto;
    }
    .logo {
        display: none;
    }
}

@media(max-width: 800px) {
    .NewtaskContainer {
        position: fixed;
        width: 100vw;
        height: 100vh;
        border-radius: 10px 10px 0 0;
        bottom: 0;
        left: 0;
        top: auto;
        transform: translate(50%, 50%);
    }
    .DateContainer{
        width: 100%;
        height: fit-content;
        display: block;
    }
    .NewtaskContainer form {
        width: 90%;
        height: 95%;
    }
    .closeButtonContainer {
        background-color: var(--secondary-background);
        border-bottom: 1px solid rgba(200, 200, 200, 0.7);
    }
    .closeButton {
        display: flex !important;
    }
    .opened {
        animation: open 0.5s ease-out forwards;
    }
    .closed {
        animation: close 1s ease-in forwards;
    }
}

@media(max-width: 400px) {
    .NewtaskContainer {
        height: 95%;
        grid-template-rows: 7%93%;
    }
}

@media(max-width: 400px) {}