.Colorbar{
    width: 90%;
    margin: 0 auto;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.Colorbarcircle{
    width: 2em;
    height: 2em;
    border-radius: 1em;
    transition: all 0.5s ease-out;
    outline: none;
    border: 1px solid #ffffff;
}
.Colorbarcircle:hover{
    cursor: pointer;
    filter: brightness(0.8);
}
.Colorcontainer{
    display: inline-flex;
    justify-content: space-between;
}
.title{
    white-space: nowrap;
    text-align: left;
}

@media screen and (max-width : 768px){
    .Colorbar{
        justify-content: space-between;
    }
}