.Switch{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    transition: all 1s;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.shadow{
    /* box-shadow: 0 0 0 2px rgba(200, 200, 200, 0.5); */
    border: 2px solid rgba(200, 200, 200, 0.2);
}

.selected{
    animation: darktolight 0.5s forwards;
    color: var(--main-color) !important;
    -webkit-animation: darktolight 0.5s forwards;
}
.switchButton{
    opacity: 0.6;
    color: var(--main-background);
    height: 100%;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    flex: 1;
    display: grid;
    grid-template-rows: 65%35%;
    align-items: center;
    justify-content: center;
}

.switchButton:hover{
    transition: all 1s;
    cursor: pointer;
    opacity: 0.5;
    color: var(--main-color);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.switchButton:active svg {
    animation: rotation 0.2s infinite linear;
    -webkit-animation: rotation 0.2s infinite linear;
}



  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
  }


@keyframes darktolight {
    from {
        background-color: none;
    }
    to{
        background-color: var(--main-background);
    }
}
@media(max-width : 768px){
    .switchButton:active{
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
}
}