.ActivitySummary{
    display: grid;
    grid-template-columns: 33% 33% 33%; 
    justify-content: space-between;
    margin-bottom: 20px;
    transition: all 0.5s;
    color: var(--main-color);
}
.ActivityContainer div{
    display: flex;
    align-items: center;
}
.ActivitySummary .ActivityContainer{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color:var(--secondary-background);
    margin: 5px ;
    justify-content: space-around;
    padding: 10px;
    transition: all 0.5s;

}


.ActivityContainer:hover{
    cursor: pointer;
    opacity: 0.7;
}

.active{
    background-color: #A3D16EFF !important;
}
.passed{
    background-color: #ED6C59FF !important;
}
.scheduled{
    background-color: #FEF781FF !important;
}
@media(max-width:800px){
    .ActivitySummary{
        display: none;
    }
}

@media(max-width:600px){
   
    .ActivitySummary .ActivityContainer{
        margin: 0;
        padding: 15px;
    }

    .taskCount{
        display: none;
    }
}