.ActiveListItem {
    display: flex;
    border-radius: 10px;
    height: 100%;
    justify-content: space-between;
    flex: 1 0;
}

.ActiveListItem:hover {
    cursor: pointer;
}

.ActiveContainer {
    display: flex;
    min-height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.activelabel {
    white-space: nowrap;
    margin: 10px 10px 0 10px;
    text-transform: capitalize;
    margin-left: 10px;
    color: var(--main-color);
    font-weight: 700;
}

.RadioContainer {
    align-self: center;
}

.TaskCompletion {
    display: grid;
    grid-template-rows: auto 95%;
    text-align: right;
}

.TaskCompletion label {
    margin-top: 0;
}

.ActiveContainer:last-child {
    margin-bottom: 50px;
}

@media(max-width:768px) {
    .ActiveContainer {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}