.Loadingpage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    max-height: 100vh;
    display: grid;
  }
  .Loadingpage img{
      width: 75%;
      margin: 0 auto;
  }
  .Loadingpage div{
    margin: 0 auto;
  }
  @media(max-width:600px){
    .Loadingpage img{
        width: 100%;
    }
  }