
.SideDrawer_SideDrawer__3ZcRC.slide-enter{
     animation: openDrawer 0.6s ease-out forwards; 
    }
.SideDrawer_SideDrawer__3ZcRC.slide-exit-active{
    animation: closeDrawer 1s ease-out forwards;
}

@keyframes openDrawer{
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes closeDrawer{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}