.Button{
    border-radius: 10px;
    width: 90%;
    margin: 15px auto;
    text-align: center;
    padding: 10px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    color: #969696;
    transition: all 0.5s;
}
.Buttonname{
    width: 80%;
    margin: auto 10px;
    text-align: center;
}
.selected{
    background-color: var(--tertiary-background);
    color: #ffffff;
}
.Button:hover{
    background-color: var(--secondary-background);
    cursor: pointer;
    opacity: 0.6;
}
.Button:active{
    background-color: var(--tertiary-background);
    color: #ffffff;
}


