.FloatingButton {
    outline: none;
    border: none;
    background-color: green;
    color: #ffffff;
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 10px;
    margin: 10px;
}

.FloatingButton svg {
    font-size: 2em !important;
}

.FloatingButton:hover {
    cursor: pointer;
    opacity: 0.7;
}

.FloatingButton:active {
    color: green;
}
.ButtonContents{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

@media(max-width:800px) {
    .FloatingButton {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 10px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }
    .FloatingButton span{
        display: none;
    }
}