.Container {
    display: grid;
    box-sizing: border-box;
    height: 90vh;
    grid-template-columns: 35% 15% 10% 20% 20%;
    grid-template-rows: 30% 15% 15% 30% 10%;
    transition: all 0.5s ease-out;
    z-index: 300;
    animation: enter 2s forwards;
    opacity: 0;
}

.item {
    display: flex;
    padding: 10px;
    background-color: var(--main-background);
    border-radius: 20px;
    margin: 10px;
    flex-grow: 1;
    box-shadow: 0 0 40px 5px var(--shadow-color);
    overflow: hidden;
}

.projectlist {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 1;
}

.LogoutView {
    grid-row-start: 1;
}

.completedstats {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

.TaskTypeList {
    display: none;
}
.buttonContainer{
    display: flex;
    background-color: var(--secondary-background);
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 10px;
    margin: 10px;
}
.buttonContainer button{
    flex: 1;
}
.UserInfo img {
    height: 100%;
}

.UserInfo {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}

.ActiveTask {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    min-height: 50vh;
}

.TaskCompletion {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.TaskOverview {
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 6;
    padding-bottom: 0;
}

.logoutView {
    display: flex;
    align-items: center;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 6;
}

.Dailyroutine {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
}


.doubleItemContainer {
    display: flex;
    flex-flow: column;
}

.maxHeight {
    flex-grow: 1;
}

.display {
    display: block;
}

.itemCentered {
    align-items: center;
}

.lowpad {
    padding: 5px;
}

.nopadbtm {
    padding-bottom: 0;
}

.minHeight {
    flex-grow: 0;
}

.scroll {
    height: 95%;
}

.sectiontitle {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 0;
}

.slideright {
    transform: translateX(50%);
}

@media(max-width:1000px) {
    .Container {
        min-width: 1000px;
        font-size: smaller;
    }
}

@media(max-width:800px) {
    .item{
        box-shadow: none;
    }
    .ActiveTask, .UserInfo {
        display: none;
    }
    .Container, .Subcontainer {
        display: initial;
    }
    .visible {
        display: flex !important;
    }
    .hidden {
        display: none;
    }
    .projectlist {
        min-height: 60vh;
        height: inherit;
    }
    .TaskTypeList{
        background-color: var(--secondary-background);
    }
    
}

@media(max-width:768px) {
    .item.projectlist {
        box-shadow: none;
        height: fit-content;
    }
}

@media(max-width:330px) {
    .item {
        min-width: 330px;
    }
}

@media(max-height:700px) {
    .Container {
        min-height: 700px;
    }
    .doubleRow {
        grid-template-rows: 25% 70%;
    }
    .maxHeight {
        flex-grow: unset;
    }
}

@keyframes enter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}