.Logoutview{
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(237, 108, 89);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
}
.logoutIcon{
    color: #ffffff;
    margin-right: 20px;
    transition: all 0.5s  !important;
}
.logoutMessage{
    color: #ffffff;
}

.Logoutview:hover{
    cursor: pointer;
    opacity: 0.6;
}
.Logoutview:active{
    opacity: 1;
}

.animated{
    transform: rotate(-180deg);
}
@media(max-height:700px){
    .Logoutview{
        flex-grow: unset;
    }
}

@media(max-width:800px){
    .Logoutview{
        display:none;
    }
}

