.TaskType{
    display: flex;
    align-items: center;
    padding: 10px;
    transition: all 0.5s;
    border-radius: 10px;
    margin: 5px;
    text-transform: capitalize;
}
.TasksTypesList{
    align-self: center;
    width: 100%;
}
.TaskType svg{
    margin-right: 10px;
}

.TaskType:hover,
.TaskType label:hover{
    cursor: pointer;
}
.active:hover{
    background-color:#A3D16EFF;
}
.passed:hover{
    background-color:#ED6C59FF;
}
.scheduled:hover{
    background-color:rgb(127, 166, 248);
}
.passed svg{
    color: red;
}

.scheduled svg{
    color: blue;
}
.active svg{
    color: green;
}

.active.selected{
    background-color:#A3D16EFF;
}
.scheduled.selected{
    background-color:rgb(127, 166, 248);
}
.passed.selected{
    background-color:#ED6C59FF;
}

