.Titlebar{
    margin-bottom:  10px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.Title{
    font-weight: 700;
    width: 100%;
    text-align: left;
}
.Barbuttoncontainer{
    display: flex;
}

.TasksTypes{
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    display: flex;
}
.TasksTypes button{
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: inherit;
    margin: 10px 5px;
}
.Titlebar button{
    border: none;
    outline: none;
    /* background-color: #ffffff; */
    transition: all 0.5s;
}

.Barbuttoncontainer button{
    background-color: #ffffff;
}
.Titlebar button:hover{
    cursor: pointer;
    opacity: 0.5;
}

.Titlebar button:active{
    opacity: 0;
}

.active{
    background-color: green;
}
.passed{background-color: rgba(233, 3, 3, 1);}
.scheduled{background-color: rgb(233, 233, 1);}


@media(max-width:600px){
    .Barbuttoncontainer{
        display: none;
    }
}