.RCP {
    margin: 0 auto;
    max-width: 13vw;
    display: flex;
    justify-content: center;
  }
  
  .section-title {
    margin: 0;
  }
  
  .bkVSTc {
    margin-top: 0 !important;
  }
  
  
  .sc-hKgILt.kFXEwu.rec.rec-slider {
    height: 100%;
    width: 100% !important;
  }
  
  .rec.rec-swipable {
    width: 100%;
  }
  
  .rec.rec-carousel-item div {
    height: 100%;
  }
  
  button.sc-bdfBwQ {
    background-color: var(--secondary-background);
    line-height: 35px;
    min-width: 35px;
    width: 35px;
    height: 35px;
  }
  
  .lgksPe, button.sc-bdfBwQ.iLquPE.rec.rec-arrow.rec {
    box-shadow: none !important;
  }
  
  .lgksPe:hover:enabled, .lgksPe:focus:enabled {
    background-color: #ffffff !important;
    color: #333333 !important;
    box-shadow: 0px;
  }
  label.Priorityproject_indicator__1hsoo{
    color: var(--main-color);
  }
  .sc-eCssSg.galrjd.rec.rec-carousel {
    height: 100% !important;
  }
  
  .rec-pagination button:hover {
    box-shadow: 0 0 1px 3px rgba(200, 200, 200, 0.7);
  }
  
  .sc-iBPRYJ.bkVSTc.rec.rec-pagination {
    flex-grow: 1;
    align-items: center;
  }
  
  button.sc-gKsewC.cJeRRR.rec.rec-dot.rec.rec-dot_active {
    background-color: #333333;
    box-shadow: 0 0 1px 3px rgba(200, 200, 200, 0.7);
  }
  
  @media(max-width:1000px) {
  
    .RCP{
      max-width:130px;
    }
  }
  
  @media(max-width:800px) {
    .react-datepicker-popper {
      transform: translate3d(40px, 444px, 0px) !important;
    }
  }
  
  @media(max-width:600px) {
    .RCP {
      max-width: 500px;
    }
  } 
  