body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: inherit;
  user-select: none;
  box-sizing: border-box;
  font-size: smaller;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
label, h1,h2,strong{
  color: var(--main-color);
}

.MuiFormLabel-root{
  color: var(--main-color)  !important;
}
/* .MuiIconButton-root{
  color: var(--main-color) !important;
} */
.MuiIconButton-root.Mui-disabled{
  color: rgba(0, 0, 0, 0.3) !important;
}
.MuiOutlinedInput-input{
  color: var(--main-color) !important;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline{
   border-color: var(--main-color) !important;
 }
 .MuiFormLabel-root.Mui-focused{
  color: var(--main-color)  !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
   border-color: var(--main-color) !important;
 }