.Forminput{
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgba(200, 200, 200, 0.7);
    display: inline-flex;
    transition: all 0.5s;
    align-items: center;
    transition: all 0.5s;
}
.Forminput input{
    outline: none;
    border: none;
    width: 100%;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
    font-size: 1rem;
    box-sizing: border-box;
    min-height: 2em;
}
.invalid{
    border: 1px solid red;
}
.Forminput svg{
    height: 100%;
    color: #333333;
}
.first{
    border-radius: 5px 5px 0 0 ;
}
.last{
    border-radius: 0 0 5px 5px;
}
.Forminput:focus{
    background-color: #bbbbbb;
}
