.CompletedStats{
    width: 100%;
    display: grid;
    grid-template-rows: auto;
}
.StatusContainer{
    display: grid;
    grid-template-rows: auto auto;
    white-space: nowrap;
}

.StatsContainer svg{
    margin: 0 auto;
}
.StatsContainer{
    display: grid;
    grid-template-columns: 30% 20% 50%;
    align-items: center;
    border-radius: 5px;
    background-color: #ecebeb;
    margin: 5px 0;
    text-align: center;
}

.completed{
    color:green;
}
.uncompleted{
    color:red;
}
.black{
    color: #333333;
}
@media(max-width:600px){
    .CompletedStats{
        height: 30vh;
    }
}