body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecebeb;
  user-select: none;
  font-size: smaller;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  /* text-transform: capitalize; */
}

.RCP {
  margin: 0 auto;
  max-width: 15vw;
  display: flex;
  justify-content: center;
}

.section-title {
  margin: 0;
}

.bkVSTc {
  margin-top: 0 !important;
}

/*Carousel*/

.sc-bdfBwQ {
  /* display: none; */
}

.sc-hKgILt.kFXEwu.rec.rec-slider {
  height: 100%;
  width: 100% !important;
}

.rec.rec-swipable {
  width: 100%;
}

.rec.rec-carousel-item div {
  height: 100%;
}

button.sc-bdfBwQ {
  background-color: #ffffff;
  line-height: 35px;
  min-width: 35px;
  width: 35px;
  height: 35px;
}

.lgksPe, button.sc-bdfBwQ.iLquPE.rec.rec-arrow.rec {
  box-shadow: none !important;
}

.lgksPe:hover:enabled, .lgksPe:focus:enabled {
  background-color: #ffffff !important;
  color: #333333 !important;
  box-shadow: 0px;
}

.sc-eCssSg.galrjd.rec.rec-carousel {
  height: 100% !important;
}

.rec-pagination button:hover {
  box-shadow: 0 0 1px 3px rgba(200, 200, 200, 0.7);
}

.sc-iBPRYJ.bkVSTc.rec.rec-pagination {
  flex-grow: 1;
  align-items: center;
}

button.sc-gKsewC.cJeRRR.rec.rec-dot.rec.rec-dot_active {
  background-color: #333333;
  box-shadow: 0 0 1px 3px rgba(200, 200, 200, 0.7);
}

/*Datepicker*/

.MuiInput-underline:before, .MuiInput-underline:after {
  border-bottom: none !important;
}

.MuiFormControl-root.MuiTextField-root.MuiFormControl-marginNormal {
  border: 1px solid rgba(200, 200, 200, 0.7);
  border-radius: 5px;
  width: 70%;
  padding: 5px;
}

.MuiFormControl-root.MuiTextField-root.start.MuiFormControl-marginNormal svg {
  color: rgba(51, 156, 25, 0.8);
}

.MuiFormControl-root.MuiTextField-root.end.MuiFormControl-marginNormal svg {
  color: rgba(231, 29, 29, 0.8);
}

button.MuiButtonBase-root.MuiIconButton-root.MuiPickersDay-day.MuiPickersDay-daySelected {
  background-color: #333333;
}

.react-datepicker-wrapper {
  width: 70%;
}

.react-datepicker__input-container input {
  border: none;
  padding: 5px;
  outline: none;
  max-width: 60%;
  float: right;
}

.react-datepicker__header {
  background-color: #ffffff !important;
  border: none !important;
  margin: 20px !important;
}

.react-datepicker__day-names {
  margin: 20px !important;
}

@media(max-width:1100px) {}

@media(max-width:1000px) {
  /* svg{
    font-size: 2vw !important;
  } */
  .RCP {
    max-width: 13vw;
  }
}

@media(max-width:800px) {
  /* svg{
    font-size: initial !important;
  } */
  .react-datepicker-popper {
    transform: translate3d(40px, 444px, 0px) !important;
  }
}

@media(max-width:600px) {
  label {
    font-size: smaller !important;
  }
  .RCP {
    max-width: 500px;
  }
}